<button (click)="registerEmail()">Register with Email</button> | 
<button (click)="loginEmail()">Log in with Email</button> |
<button (click)="login()">Log in with OAuth</button> | 
<button (click)="logout()">Logout</button>
<div *ngIf="error">{{ error }}</div>
<h1>
  Hello {{ displayName }}
</h1>
<img *ngIf="photoUrl" src="{{ photoUrl }}" alt=""><br>
<button (click)="add()">Add</button>
<button (click)="update()">Update</button>
<button (click)="remove()">Remove</button>
<ul>
  <li *ngFor="let c of cuisines | async">{{ c.$key + '- ' + c.$value }}</li>
</ul>

<h1>Restaurants</h1>
<ul>
  <li *ngFor="let r of restaurants | async">
    {{ r.name }} - {{ (r.cuisineType | async)?.$value }}
    <ul>
      <li *ngFor="let f of r.featureTypes">
        {{ (f | async)?.$value }}
      </li>
    </ul>
  </li>
</ul>
